body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20vh;
    color: aliceblue;
    background-image: url(https://cdn.prod.website-files.com/5f1ec88b9bfb9a132591552b/6697bbc89a21c75e8b2d7490_background.png)
}
h2 {
    padding-top: 10vh;
    
}
div {
    border:2px solid white;
    width:100px;
    margin: auto;
    margin-top: 5vh;
    padding: 1rem;
}