body {
    text-align: center;
    padding-top: 30vh;
    color: aliceblue;
    background-image: url(https://cdn.prod.website-files.com/5f1ec88b9bfb9a132591552b/6697bbc89a21c75e8b2d7490_background.png)
}